
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!-- Site made with Mobirise Website Builder v5.8.4, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v5.8.4, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="">


    <title>Home</title>
    <link rel="stylesheet" href="~/web/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/web/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/web/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/web/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/web/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="~/web/assets/theme/css/style.css">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
    <link rel="preload" as="style" href="~/web/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="~/web/assets/mobirise/css/mbr-additional.css" type="text/css">




</head>
<body>

    <section data-bs-version="5.1" class="menu menu1 cid-tAP5yoetB8" once="menu" id="menu1-0">


        <nav class="navbar navbar-dropdown navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/Home/Index/">
                            <img src="~/web/assets/images/logo.png" alt="Mobirise Website Builder" style="height: 5.7rem;">
                        </a>
                    </span>

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-white display-4" href="/Home/Hakkimizda">Hakkımızda</a></li>
                        <li class="nav-item"><a class="nav-link link text-white display-4" href="/Home/Araclar">Araçlarımız</a></li>
                        <li class="nav-item">
                            <a class="nav-link link text-white display-4" href="/Home/Iletisim/">İletişim</a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </section>

    @RenderBody()


    <section data-bs-version="5.1" class="footer7 cid-tAPiaERs5O" once="footers" id="footer7-2">





        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-7">
                        © Copyright 2023 OST CarRental - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="~/web/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/web/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="~/web/assets/ytplayer/index.js"></script>
    <script src="~/web/assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="~/web/assets/vimeoplayer/player.js"></script>
    <script src="~/web/assets/theme/js/script.js"></script>


</body>
</html>
