@model OSTCarRental.Models.Entity.TBLARABA
@{
    ViewBag.Title = "AracGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}



@using (Html.BeginForm("AracGuncelle", "Home", FormMethod.Post))
{
    <style>
        .cid-tAPPa7oLLW {
            background-image: url("@Model.RESIM")
        }
    </style>
    <section data-bs-version="5.1" class="header6 cid-tAPPa7oLLW mbr-fullscreen" id="header6-g">




        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

        <div class="align-center container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>@Model.ARABAISIM</strong></h1>



                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="content4 cid-tAPPk9Y9a4" id="content4-h">




        <div class="container">
            <div class="row justify-content-center">
                <div class="title col-md-12 col-lg-10">

                    <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">
                        @Html.Raw(Model.ARABADETAY)
                    </h4>
                    <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">
                        <b>Günlük Fiyatı: <font color="#5f7fff"> @Model.ARABAFIYAT </font>₺</b>
                        <br /><b>
                            Araç Durumu:
                            @if (Model.DURUM == true)
                            {
                                <font color="green">Şuanda Mevcut</font>
                            }
                            else
                            {
                                <font color="red">Kiralandı</font>
                            }

                        </b>
                    </h4>
                    <center>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-black display-4" href="/Home/IletisimKur/">İletişim Kur</a></div>
                    </center>

                </div>
            </div>
        </div>
    </section>
}
