@using OSTCarRental.Models.Entity
@model List<TBLILETISIMBILGI>
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section data-bs-version="5.1" class="header5 cid-tAPTtSKKis mbr-fullscreen" id="header5-m">




    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-2"><strong>Bizimle İletişime Geçin</strong></h1>



            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts3 map1 cid-tAPUqCR8I0" id="contacts3-n">




    @foreach(var x in Model) {
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Contacts</strong>
            </h3>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-phone mobi-mbri" style="color: rgb(0, 0, 0); fill: rgb(0, 0, 0);"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Phone</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">@x.PHONE</p>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont socicon-mail socicon" style="color: rgb(0, 0, 0); fill: rgb(0, 0, 0);"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Email</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">@x.EMAIL</p>
                    </div>
                </div>
            </div>
            <div class="map-wrapper col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCNveGQ9bfpKFwWzQLLftrR9hNiHwdqQG8&amp;q=@x.GOOGLEMAP" allowfullscreen=""></iframe></div>
            </div>
            <center>
                <div class="mbr-section-btn mt-3"><a class="btn btn-black display-4" href="/Home/IletisimKur/">İletişim Kur</a></div>
            </center>
        </div>
    </div>
    }
</section>


