
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section data-bs-version="5.1" class="header3 cid-tAP5Wq0mkN mbr-fullscreen" id="header3-1">




    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(255, 255, 255);"></div>

    <div class="align-center container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>Özgürlüğe Doğru Sür</strong></h1>


                <div class="mbr-section-btn mt-3"><a class="btn btn-black display-4" href="/Home/Araclar/">Araç Kirala</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="image3 cid-tAPkvafVI5" data-bg-video="https://www.youtube.com/watch?v=NMThdHhrLoM" id="image3-5">


    <div class="mbr-fallback-image disabled"></div>
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <div class="image-wrapper">
                    <img src="~/web/assets/images/logo.png" alt="Mobirise Website Builder">
                    <p class="mbr-description mbr-fonts-style mt-2 align-center display-5">
                        Hayallerine Sür
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

